.title {
  margin-bottom: 5rem;
  font-size: 4rem;
  color: white; }

.html__videojuegos {
  background-image: url(../img/fondojuegos.png);
  background-size: cover; }

.html__libros {
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); }

.html__peliculas {
  background-image: url(../img/fondopeliculas.png); }

.textright {
  text-align: right; }

.border {
  border-bottom-width: 20px; }

.background-color {
  background-color: #3f51b5; }

.articleCaja2 {
  text-align: right; }

.background {
  background: linear-gradient(red, purple); }

.div {
  text-align: center; }

.textcenter {
  text-align: center; }

.textleft {
  text-align: left; }

.textbold {
  font-weight: 500; }

.textbold {
  font-weight: 500; }

.container__1 {
  background-color: red; }

.radius {
  border-radius: 20px; }

.body-index {
  background-color: #271533; }

.body-color {
  background-color: rgba(0, 0, 0, 0.85); }

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }

@keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }

.div3-animation {
  width: 300px;
  height: 200px;
  background: red;
  animation: mymove 5s infinite; }

@keyframes mymove {
  from {
    background-color: #FF0800; }
  to {
    background-color: #E31837; } }

.color-change-3x {
  -webkit-animation: color-change-3x 2s linear infinite alternate both;
  animation: color-change-3x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-3x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

@keyframes color-change-3x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

.color-change-4x {
  -webkit-animation: color-change-4x 2s linear infinite alternate both;
  animation: color-change-4x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-4x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

@keyframes color-change-4x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

.color-change-5x {
  -webkit-animation: color-change-5x 2s linear infinite alternate both;
  animation: color-change-5x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-5x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

@keyframes color-change-5x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  border-radius: 10px; }

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px; }

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff; }

.color-change-6x {
  -webkit-animation: color-change-6x 2s linear infinite alternate both;
  animation: color-change-6x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-6x {
  0% {
    background: #58111A; }
  50% {
    background: #660000; }
  100% {
    background: #722F37; } }

@keyframes color-change-6x {
  0% {
    background: #58111A; }
  50% {
    background: #660000; }
  100% {
    background: #722F37; } }

nav {
  background: #191533;
  justify-content: space-between;
  display: inline-flex;
  color: white;
  text-align: center;
  border: solid #19090B 2px;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: black 10px; }
  nav div a {
    animation-name: animatediv;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: white;
    animation-duration: 4s; }
    nav div a img {
      position: relative; }
  nav ol {
    list-style: none;
    color: white;
    display: inline;
    text-align: right; }
    nav ol li {
      font-size: 2rem;
      display: inline;
      padding: 5px;
      margin-right: 100px;
      text-align: right; }
      nav ol li a {
        text-decoration: none;
        color: white;
        font-family: arial, sans-serif;
        text-align: right;
        margin-left: 90px; }
        nav ol li a:hover {
          font-weight: 100;
          color: black; }

.background-color {
  background-color: brown; }

.border {
  border-bottom-width: 20px; }

.main {
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 50px;
  padding-bottom: 100px; }

.body-index {
  background-color: #271533;
  color: white; }

.grid {
  display: grid auto;
  background-color: black;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "caja1" "	caja2" "caja3" "caja4" "caja5" "caja6";
  font-size: 20px;
  border: solid 4px #c35959, 0.5;
  border-radius: 10px;
  color: white;
  padding: 2px 8px;
  margin: 20px 30px; }

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  color: green; }

.col3 {
  color: green;
  display: grid;
  margin: 20px 10px;
  justify-content: center;
  align-items: center; }
  .col3 figure {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px black; }
    .col3 figure img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out; }
    .col3 figure div h3 {
      margin-top: 70px;
      color: white; }
    .col3 figure .capa {
      position: absolute;
      transition: all 500ms ease-out;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      text-align: center; }
    .col3 figure:hover > .capa {
      opacity: 1;
      visibility: visible; }
  .col3 .img {
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .col3 h1 {
    color: white; }
  .col3 .container {
    display: grid; }
  .col3 .col {
    border: solid 5px #0a2351;
    text-align: center;
    border-radius: 1vh;
    margin: 0.1px 5vh;
    transition: 1s;
    background-color: #1F305E;
    color: black;
    font-size: 8vh; }
    .col3 .col:hover {
      background-color: black;
      border: solid 0.4vh black; }

.parent2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-template-rows: repeat(auto-fit, minmax(2, 3fr));
  grid-column-gap: 4vh;
  grid-row-gap: 3vh;
  padding-bottom: 18rem;
  margin-top: 10rem; }
  .parent2 .divx1, .parent2 .divx2 {
    border: solid 5px #0a2351;
    text-align: center;
    border-radius: 1vh;
    margin: 0.1px 5vh;
    transition: 1s;
    background-color: #1F305E;
    color: black;
    font-size: 28; }
    .parent2 .divx1:hover, .parent2 .divx2:hover {
      background-color: black;
      border: solid 0.4vh black; }
  .parent2 .divx2 {
    border: solid 6px #660000;
    background-color: #BA0021; }

article {
  margin: 40px 50px;
  text-align: center;
  font-size: 20px; }
  article article h1 {
    color: black;
    text-align: center;
    margin-bottom: 40px;
    font-size: 100px;
    gitfont-family: 'Smooch Sans', sans-serif;
    font-family: 'Updock', cursive; }

.body-index {
  background-color: #271533; }

.parentp {
  display: grid;
  background-color: rgba(0, 0, 0, 0.8);
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(16rem, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid 5px black;
  margin: 20px 50px 150px 50px;
  border-radius: 10px; }

.container {
  border: black 8px solid;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .container img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

.divp1 {
  grid-area: 1 / 1 / 6 / 6;
  color: red;
  margin-bottom: 200px; }

.divp2 {
  grid-area: 1 / 2 / 6 / 6;
  padding: 10px 10px;
  color: white;
  border-left: solid white 3px; }

.divp3 {
  grid-area: 1 / 1 / 6 / 2;
  color: white;
  padding: 10px 10px; }
  .divp3 ul li {
    margin-bottom: 20px; }

.col {
  color: white;
  padding: 1rem 1rem; }
  .col p {
    margin: 1rem 1rem 0rem 1rem;
    text-align: justify; }
  .col h3 {
    color: white;
    background-color: grey;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .col ul {
    border-radius: 20px; }
  .col li {
    border-bottom: white solid 1px;
    margin-bottom: 10px;
    margin-right: 50px;
    list-style: none;
    padding-left: 5px; }
