.htmlMusica {
  background-image: url(../img/fondomusica.png);
  background-size: cover; }

.html__videojuegos {
  background-image: url(../img/fondojuegos.png);
  background-size: cover; }

.html__libros {
  background-image: url(../img/fondolibros.png); }

.html__peliculas {
  background-image: url(../img/fondopeliculas.png); }

.body-libro {
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); }

cddd {
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350); }

.textright {
  text-align: right; }

.border {
  border-bottom-width: 20px; }

.background-color {
  background-color: #3f51b5; }

.articleCaja2 {
  text-align: right; }

.background {
  background: linear-gradient(red, purple); }

.div {
  text-align: center; }

.textcenter {
  text-align: center; }

.textleft {
  text-align: left; }

.textbold {
  font-weight: 500; }

.textbold {
  font-weight: 500; }

.container__1 {
  background-color: red; }

.radius, .justify, .articleCaja {
  border-radius: 20px; }

.color-change-2x, .div1, .div2, .div3, .div4, .div1:hover, .div2:hover, .div3:hover, .div4:hover {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }

@keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }

.div3-animation {
  width: 300px;
  height: 200px;
  background: red;
  animation: mymove 5s infinite; }

@keyframes mymove {
  from {
    background-color: #FF0800; }
  to {
    background-color: #E31837; } }

.color-change-3x, .div3 {
  -webkit-animation: color-change-3x 2s linear infinite alternate both;
  animation: color-change-3x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-3x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

@keyframes color-change-3x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

.color-change-4x, .div4 {
  -webkit-animation: color-change-4x 2s linear infinite alternate both;
  animation: color-change-4x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-4x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

@keyframes color-change-4x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

.color-change-5x, .div2 {
  -webkit-animation: color-change-5x 2s linear infinite alternate both;
  animation: color-change-5x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-5x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

@keyframes color-change-5x {
  0% {
    background: #FF0800; }
  100% {
    background: #b22cff; } }

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  border-radius: 10px; }

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px; }

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff; }

.color-change-6x {
  -webkit-animation: color-change-6x 2s linear infinite alternate both;
  animation: color-change-6x 2s linear infinite alternate both; }

@-webkit-keyframes color-change-6x {
  0% {
    background: #58111A; }
  50% {
    background: #660000; }
  100% {
    background: #722F37; } }

@keyframes color-change-6x {
  0% {
    background: #58111A; }
  50% {
    background: #660000; }
  100% {
    background: #722F37; } }

nav {
  background: linear-gradient(red, purple);
  justify-content: space-between;
  display: inline-flex;
  text-align: center;
  cursor: pointer; }
  nav div a {
    animation-name: animatediv;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s; }
    nav div a img {
      position: relative; }
  nav ol {
    list-style: none;
    display: inline;
    text-align: right; }
    nav ol li {
      font-size: 1.70rem;
      display: inline;
      padding: 5px;
      margin-right: 20px;
      text-align: right; }
      nav ol li a {
        text-decoration: none;
        color: grey;
        font-family: arial, sans-serif;
        text-align: right;
        margin-left: 90px; }
        nav ol li a:hover {
          font-weight: 100;
          color: black; }

.background-color {
  background-color: brown; }

.border {
  border-bottom-width: 20px; }

.justify {
  text-align: left;
  border: 10px solid blue;
  padding: 2px 20px;
  margin: 20px 300px;
  text-align: center;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 52%); }

.articleCaja {
  border: 10px solid blue;
  padding: auto;
  margin: 20px 600px;
  text-align: center;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 52%); }

.articleCaja3 {
  text-align: center;
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350); }

.articleCaja4 {
  border-radius: 20px;
  margin: 10px 1px;
  text-align: center;
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350);
  color: white; }

.caja__articulo {
  width: 100%;
  height: auto;
  overflow-x: auto;
  margin: 20px 10px 20px 10px;
  padding: 10px 30px;
  box-sizing: border-box;
  border: solid 4px violet;
  color: grey;
  background: linear-gradient(red, orange); }

.caja__articulo--p {
  size: 40px;
  box-sizing: auto;
  color: white;
  text-align: center; }

.main {
  background-color: white;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 50px;
  padding-bottom: 100px; }

.grid {
  display: grid auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5" "caja6";
  font-size: 20px;
  border: solid 4px #c35959, 0.5;
  border-radius: 10px;
  color: white;
  padding: 2px 8px;
  margin: 20px 30px; }

.caja1 {
  padding: 2px 8px 2px 8px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790943 35%, #00d4ff 100%); }

.caja2 {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #010001 25%, #c31010 38%, #9aa6ea 77%, rgba(183, 152, 234, 0.539653) 86%, #eba29e 95%);
  border: solid 2px red;
  padding: 2px 8px; }

.caja3 {
  border: solid 3px red;
  padding: 2px 8px;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%); }

.caja4 {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790943 35%, #00d4ff 100%); }

.caja5 {
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 90%, #fcb045 100%); }

.caja6 {
  background: #833ab4;
  background: radial-gradient(circle, #833ab4 0%, #fcb045 62%, #971dfd 90%);
  font-size: 8;
  transition: 5s; }
  .caja6:hover {
    padding: 2px 100px;
    font-weight: 100;
    color: red; }

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
  margin: 2px 100px;
  overflow-x: auto;
  overflow-y: hidden; }

.div1, .div2, .div3, .div4 {
  color: black;
  background-color: #660000;
  grid-area: 1 / 2 / 2 / 3;
  border: solid red;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
  text-align: justify;
  margin: 20px 30px; }
  .div1:hover, .div2:hover, .div3:hover, .div4:hover {
    size: 100px; }

.div2 {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 12; }

.div3 {
  grid-area: 1 / 3 / 2 / 4; }

.div4 {
  grid-area: 1 / 4 / 2 / 5; }

.flex {
  display: flex;
  overflow-x: scroll;
  font-size: 15px; }

.img {
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.flex-p {
  padding: 1px 50px;
  color: black;
  border-radius: 10px; }

.body-color {
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350); }

h1 {
  color: white; }

.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 3fr);
  grid-column-gap: 47px;
  grid-row-gap: 38px; }

.hide {
  display: none;
  color: white; }

.divx1, .divx2, .divx3, .divx4 {
  border: solid 5px #0a2351;
  text-align: center;
  border-radius: 10px;
  margin: 1px 50px;
  transition: 1s;
  background-color: #1F305E;
  color: black; }
  .divx1:hover, .divx2:hover, .divx3:hover, .divx4:hover {
    background-color: black;
    border: solid 4px black; }

.divx2 {
  border: solid 4px #FEBE10;
  background-color: gold; }

.divx3 {
  border: solid 5px #32de84;
  background-color: #4FFFB0; }

.divx4 {
  border: solid 6px #660000;
  background-color: #BA0021; }

article {
  margin: 40px 50px;
  text-align: center;
  font-size: 20px; }

article h1 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
  font-size: 100px;
  font-family: 'Smooch Sans', sans-serif;
  font-family: 'Updock', cursive; }

.form {
  text-align: center;
  background-color: black;
  color: white;
  margin: 40px 50px 5px;
  border: solid 5px red;
  border-radius: 10px;
  padding-bottom: 10px; }

.body-libro {
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); }

.pie {
  height: auto;
  overflow-x: auto;
  border: 3px solid red;
  padding: 10px 30px;
  margin: 20px 10px;
  box-sizing: border-box;
  color: grey;
  background: radial-gradient(purple, blue); }

.footerForm {
  margin-top: 20px;
  margin-bottom: 20px; }
