

.pie{
	height: auto;
	overflow-x: auto
	;
@include modelling(10px 30px,20px 10px,3px solid red)
	;box-sizing: border-box;
	color: grey;background: radial-gradient(purple, blue)}

.footerForm{margin-top: 20px;margin-bottom: 20px}