//nesting

nav{background:#191533;
justify-content:space-between;
display:inline-flex;color: white;
text-align: center;border:solid #19090B 2px;
cursor: pointer;border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;box-shadow: black 10px;

	div{a{animation-name: animatediv;animation-iteration-count: infinite;
animation-timing-function: linear;color: white;
animation-duration:4s;img{position: relative;}}}

		ol{
	list-style:none
	;color: white;display:inline;
	text-align: right;
	li{
font-size: 2rem
;display: inline;
padding:  5px;
margin-right: 100px;
text-align: right;a{text-decoration:none;
 color: white; font-family: arial, sans-serif;
 text-align: right; margin-left: 90px;
 	&:hover{
		font-weight: 100;color: black

						}
					}
				}
			}
		}	
.background-color{background-color: brown}
.border{border-bottom-width: 20px}
